<h1>Sign up Here</h1>

<div class="container sign-up">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <form class="form-signin" >

    <div class="field">
      <%= f.label :email, for: 'inputEmail', class: 'sr-only' %><br />
      <%= f.email_field :email, id:'inputEmail', class: 'form-control' , placeholder:'Email address', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, for: 'inputPassword', class: 'sr-only' %>
      <%= f.password_field :password, id: 'inputPassword', class: 'form-control', placeholder: 'Password', autocomplete: "new-password" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div class="field">
      <%= f.label :password_confirmation, for:'inputPasswordCheck', class: 'sr-only' %><br />
      <%= f.password_field :password_confirmation, id:'inputPasswordCheck', class: 'form-control', placeholder:'Re-type Password', autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-secondary user-button'%>
    </div>
  <% end %>

  </form>

  <%= render "devise/shared/links" %>

</div>
