<h1>Log in</h1>

<div class="container sign-up">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, for: 'inputEmail', class: 'sr-only' %><br />
      <%= f.email_field :email, id:'inputEmail', class: 'form-control' , placeholder:'Email address', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, for: 'inputPassword', class: 'sr-only' %><br />
      <%= f.password_field :password, id: 'inputPassword', class: 'form-control', placeholder: 'Password', autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me , class:'remember-me-label'%>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-secondary user-button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
